body {
  background: #361247;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

footer{
  text-align: center;
  background-color: rgb(245, 63, 63);
  height: 27px;
  color: #ffff;
  position: absolute;
  width: 100%;
}
footer > p > a {
  color: #ffff;
  font-weight: bolder;
   
 }